/*----------------------------------------
Contact form
------------------------------------------*/

label {
    color: #d4d4d4;
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    /*margin-bottom: 20px;*/
    /*background-color: #3D405B;*/
 }
 .controls {
    padding-left: 20%;
}